version: '3'
services:
  marketplace-projector:
    image: 350661628111.dkr.ecr.us-east-1.amazonaws.com/marketplace-projector
    build:
      dockerfile: ./Dockerfile
      context: .
      args:
       - JAR_FILE=build/libs/*.jar
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_HOST=marketplace-catalog-dev.cjfkccsro3vy.us-east-1.rds.amazonaws.com:5432
      - POSTGRES_PW=${MARKETPLACE_CATALOG_DB_PW}
